html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
  font-weight:normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; */

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

ol {
  list-style-type: none;
  }

dt {
  font-weight: bold;
}

.maincontent {
  max-width: 40em;
}

figcaption {
  text-align: center;
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
}

header a {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  color: #8f2440;
}
