html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-weight: normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; */

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.5em;
}

.nav-list {
  list-style-type: none;
  font-size: 1.2em;
}

dt {
  font-weight: bold;
}

figcaption {
  text-align: center;
  font-family: "PT Serif", serif;
  font-style: italic;
}

a {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.intro-line {
  font-weight: bold;
}

.quote {
  font-style: italic;
}

strong {
  font-weight: normal;
}

.serving {
  font-style: italic;
}

.footer-link {
  font-family: "PT Serif", serif;
}

.tags-list {
  list-style-type: circle;
}

.common-list {
  list-style-type: lower-greek;
}
